/*
 *  Purple: #8A2BE2
 *  Pink:   #FF1493
 *
 */

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

img {
    height: auto;
    max-width: 100%;
}

legend {
    display: none;
}

table {
    width: 100%;
    max-width: 100%;
}

tr:nth-of-type(even) {
    background: rgba(255,255,255,0.1);
}

th,
td {
    padding: 5px 10px;
    text-align: left;
}

td:not(:first-child),
th:not(:first-child) {
    text-align: center;
}

th a,
td a {
    text-decoration: none;
}

hr {
    margin: 1.5em auto;
}

::-webkit-input-placeholder {
    color: #BABBBC;
}

.ui-field-contain > label ~ [class*=ui-],
.ui-field-contain .ui-controlgroup-controls {
    float: none;
    width: 100%;
}

.ui-field-contain > label ~ [class*=ui-].clear-input-button {
    width: 1.75em;
}

.ui-header .ui-title {
    min-height: 20px;
}

.ui-page:not(.ui-dialog) .ui-header h1.ui-title {
    display: none;
}

.ui-page-theme-a footer.ui-bar-inherit {
    color: #666666;
    font-size: 87.5%;
    text-align: center;
}

.ui-page-theme-a .ui-btn.brand-color {
    background: linear-gradient(to bottom right, #FF1493, #8A2BE2);
    border: none;
    color: #FFFFFF;
    font-family: "Titillium Web Bold", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn.success-go-button {
    background: linear-gradient(to bottom right, #228b22, #1a6b1a);
    border: none;
    color: #FFFFFF;
    font-family: "Titillium Web Bold", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn.error-go-button {
    background: linear-gradient(to bottom right, #e50013, #be0010);
    border: none;
    color: #FFFFFF;
    font-family: "Titillium Web Bold", Helvetica, Arial, sans-serif;
    opacity: 1;
    text-shadow: none;
}

.ui-page-theme-a .ui-btn.ui-state-disabled {
    opacity: 0.3;
}

.ui-btn.margin-top {
    margin-top: 1rem;
}

.ui-field-contain {
    border: 0;
    margin: 0.5em 0;
    padding: 0;
    position: relative;
}

.ui-dialog.ui-page-theme-a {
    background: #3a3b3c !important;
}

.ui-dialog-contain {
    background: #eaeaea;
}

.clear-input-button {
    opacity: 0.3;
    position: absolute;
    right: 0.5em;
    top: 50%;
    transform: translateY(-50%);
}

.hidden {
    display: none !important;
}

#home-logo {
    max-width: 50%;
    margin: 33% auto 2rem;
}

.forgot-password {
    font-size: 87.5%;
    margin: 1rem 0 0;
    text-align: right;
}
.collection-count {
    font-weight: bold;
}

.ui-page-theme-a .ui-btn.user-menu-button {
    background: none;
    border: none;
    box-shadow: none;
    color: #FFFFFF;
    text-shadow: none;
}

.ui-popup-screen.in {
    background: #000000;
}

.ui-grid {
    display: flex;
    flex-direction: row;
    margin-top: -0.5em;
}

.ui-grid div[class*="ui-input-"] {
    flex: 1;
}

.ui-grid div.ui-btn {
    margin-left: 0.5em;
    padding: 0.5em;
}

.ui-page-theme-a .ui-btn.inverted {
    background: #666666;
    border-color: #666666;
    color: #f9f9f9;
    text-shadow: none;
}